* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-evenly;
}

.snake {
    height: 560px;
    width: 100px;
    background-color: aqua;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-transform: capitalize;
    letter-spacing: 10px;
    display: flex;
    justify-content: center;
    color:  #ef8320;
}

.board {
    height: 560px;
    width: 600px;
    border: 10px solid black;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.box {
    width: 58px;
    height: 54px;
    border: 2px solid white;
    font-size: 20px;
    color: white;
}

.c1 {
    background-color: #fcd904;
}

.c2 {
    background-color: #2c9dd9;
}

.c3 {
    background-color: #e61f24;
}

.c4 {
    background-color: #079a49;
}

.c5 {
    background-color: #e8566b;
}

.c6 {
    background-color: #ef8320;
}

.c7 {
    background-color: #2d3081;
}

.c8 {
    background-color: #5ac3d0;
}

.c9 {
    background-color: #a9cf3a;
}

.c10 {
    background-color: #cb4f98;
}

.lyt {
    position: absolute;
}

#i1 {
    height: 50px;
    width: 50px;
    left: 5px;
}
#i2 {
    width: 160px;
    right: 20px;
    bottom: 5px;
}
#i3 {
    height: 130px;
    bottom: 10px;
    left: 290px;
}
#i4 {
    height: 40px;
    left: 375px;
    bottom: 120px;
}
#i5 {
    height: 230px;
    bottom: 70px;
    left: 70px;
}
#i6 {
    height: 150px;
    bottom: 120px;
    left: 240px;
}
#i7 {
    height: 300px;
    bottom: 180px;
    right: 125px;
}
#i8 {
    height: 150px;
    top: 70px;
    left: 170px;
}
#i9 {
    height: 200px;
    left: 10px;
    top: 10px;
}
#i10 {
    height: 120px;
    top: 80px; left: 30px;
} 
#i11 {
    height: 130px;
    top: 30px; right: 60px;
}
#i12 {
    height: 50px;
    left: 25px;
}
#i13 {
    height: 40px;
    top: 70px;
    left: 5px;
}
#i14 {
    height: 40px;
    right: 200px; top: 10px;
}
.cc {
    display: flex;
    justify-content: end;
}
.c23 {
    display: flex;
    justify-content: end;
}